*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 8em;
    display: block;
    align-self: center;
}

h3 {
    font-size: 3em;
    text-align: center;
    align-self: top;
    padding: 17px 0;
}

input {
    display: flex;
    border: none;
    height: 25px;
    width: 300px;
    text-align: center;
    
}

iframe {
    height: 80px;
}

img {
    display: block;

}

a:link, a:visited{
    color:white;
}

a:hover {
    color: red;
    transition: .2s;
}

.body {
    background-color: #090D1C;
}

.banner {
    height: 250px;
    background-image: url("assets/vibu_bla_forslag_250.png");
    justify-content: center;
    display: flex;
}

.searchBar {
    height: 80px;
    background-image: url("assets/vibu_bla_forslag_80.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

.content {
    padding: 20px 10% 0 10%;
    display: flex;
    justify-content: center;  
}

.card {
    display: block;
    height: 300px;
    width: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
    margin: 45px 35px 0 35px;
}

.cardImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.cardText {
    text-align: center;
    color: white;
}

.posts {
    margin: 0 15px 15px 15px;
    min-height: calc(100vh - 250px - 80px - 20px - 15px);
    width: 65%;
    max-width: 800px; 
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #1c2138;
    margin-bottom: 20px;
    border-radius: 5px;
    color: rgb(201, 201, 212);
}

/* .links {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    flex-direction: row;
    
} */

.linkWrapper {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    grid-template-rows: auto;
    padding: 0 25px;
    row-gap: 10px;
}

.linkOne {
    grid-column-start: 1;
    grid-column-end: 2;
}

.linkTwo {
    grid-column-start: 3;
    grid-column-end: 4;
}

.linkThree {
    grid-column-start: 1;
    grid-column-end: 2;
}

.linkFour {
    grid-column-start: 3;
    grid-column-end: 4;
}

.linkFive {
    grid-column-start: 1;
    grid-column-end: 2;
}

.linkSix {
    grid-column-start: 3;
    grid-column-end: 4;
}

.gapLine {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gapLine p {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    font-weight: 800;
}

.guestProfile {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 80px;
    column-gap: 15px;
}

.guestProfileImg {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 80px;
    width: 80px;
    border-radius: 10%;
}

.guestProfileBody {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 80px;
}

.guestName {
    font-size: 2.5rem;
    padding: none;
    text-align: left;
}

.guestLinks {
    text-align: left;
    padding-top: 5px;
    letter-spacing: 1px;
}

/* Kanske ska bort */
/* .left, .right {
    max-width: 46%;
} */

.tab{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.tabLink {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    margin: 0;
    border: none;
    height: 30px;
    background-color: rgb(50, 67, 112);
    color: white;
    font-weight: 800;
}

.tabLink.active {
    background-color: rgb(64, 116, 146);
}

.tabLink:hover{
    background-color: rgb(64, 116, 146);
    transition: .15s;
}

.tabContent {
    padding: 10px 25px;
    background-color: rgb(64, 116, 146);
    border-radius:0 0 5px 5px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}



.hidden {
    display: none;
}

#luminiImg {
    box-shadow: -40px 0 rgb(13, 59, 128);
    position: absolute;
    right: 20px;

}

#luminiText {
    position: absolute;
    top: 160px;
    right: 20px;
    width: 190px;
    font-weight: 800;
}

#bubbImg {
    box-shadow: 40px 0 rgb(13, 59, 128);
    position: absolute;
    left: 20px;
}

#bubbText {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 190px;
}

#info {
    background-color: transparent;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 40px;
}