*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 8em;
    display: block;
    align-self: center;
}

h3 {
    font-size: 3em;
    text-align: center;
    align-self: top;
    padding: 17px 0;
}

input {
    display: flex;
    border: none;
    height: 25px;
    width: 300px;
}

iframe {
    height: 80px;
}

img {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

a:link, a:visited{
    color:white;
}

a:hover {
    color: red;
    transition: .2s;
}

.body {
    background-color: rgb(146, 190, 190);
}

.banner {
    height: 250px;
    background-color: white;
    justify-content: center;
    display: flex;
}

.searchBar {
    height: 80px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

.content {
    padding: 20px 10% 0 10%;
    display: flex;
    justify-content: center;  
}

.card {
    display: block;
    height: 300px;
    width: 250px;
    background-color: slateblue;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.cardText {
    position: relative;
    top: 160px;
    text-align: center;
}

.posts {
    margin: 0 15px 15px 15px;
    min-height: calc(100vh - 250px - 80px - 20px - 15px);
    width: 65%;
    max-width: 800px;
    background-color: rgb(41, 39, 54);
    
}

.post {
    display: flex;
    flex-direction: column;
    background-color: springgreen;
    margin-bottom: 10px;
    border-radius: 5px;
}

.links {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    flex-direction: row;
}

.left, .right {
    max-width: 46%;
}

.tab{
    display: flex;
    flex-direction: row;
}

.tabLink {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    border: none;
    height: 20px;
    background-color: lightblue;
}

.tabLink.active {
    background-color: lightcoral;
}

.hidden {
    display: none;
}

#luminiImg {
    box-shadow: -40px 0 black;
    position: absolute;
    left: 70px;
}

#bubbImg {
    box-shadow: 40px 0 black;
    position: absolute;
    right: 70px;
}